* {
  overflow: hidden;
}
body {
  height: 100vh;
}

.form-control.ng-touched.ng-invalid {
  border: 1px solid red;
}
.form-control.ng-touched.ng-valid {
  border: 1px solid green;
}

.container {
  margin-top: 1rem;
}

.formcss {
  border: 2px solid black;
  padding: 2rem;
  border-radius: 10px;
  font-size: 1em;
  font-weight: 500;
  background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
  color: white;
}

.btn {
  margin: 1rem 10rem 0rem 10rem;
  font-weight: 600;
  border-radius: 20px;
  text-align: center;
}
